<div class="message d-flex flex-column align-items-<%= whos_msg%>">
	<p class="p-2 border rounded" style="width: fit-content;"><%= message.body %></p>
</div>
<% if play_noti %>
  <script type="text/javascript">
    playNotificationSound();
  </script>
<% end %>
