<div class="row">
	<section style="width: 30%;">
		<%= render 'shared/users', users: @users%>
	</section>
	<section style="width: 70%; height: 600px;" class="border rounded">
		<div id="convo_body" style="height: 100%;"></div>
	</section>
</div>
